svg{
    margin-right: 6px;
}

.margin{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.candidateMargin{
    margin-left: 1px;
    margin-top: 4px;
    margin-bottom: 3px;
}
svg.selected{
    border: 1px solid yellow
}

circle.selected {
	stroke: #ffff00;
  stroke-width: 1.5px;
}

rect.selected {
  stroke: #ffff00;
  stroke-width: 1.5px;
}

text {
	font-family: sans-serif;
	font-size: 12px;
}

.well {
	border-style: solid;
  border-width: 0.5px;
  border-color: #333;
  line-height: normal;
}
.smallfont{
  font-size: 12px;
} 
.btn{
  font-size: 12px;
  padding-left:4px;
  padding-right:4px;
  padding-top:4px;
  padding-bottom:4px;
}
.nopadding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}
.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}
.title {
    font-size: 20px;
    display: block;
}
.title-inline {
    font-size: 20px;
    display: inline-block;
}
.label {
    font-weight: bold;
}
.leftpanel {
    display: inline-block;
}
.rightpanel {
    display: inline-block;
}
.visrow {
    border: 1px solid black;
    width: 100%;
    margin: 0px;
    display: block;
}
.viscol {
    display: inline-block;
}
/* Visualization Components */
.streamview {
    width: 100%;
    height: 300px;
    display: inline-block;
}
.deltaview {
    width: 100%;
    height: 500px;
    display: inline-block;
}
.frameview {
    width: 100%;
    height: 300px;
    display: inline-block;
}
.rankview {
    width: 100%;
    height: 300px;
    display: inline-block;
}
.historyview {
    width: 100%;
    height: 300px;
    display: inline-block;
}
.globalview {
    width: 100%;
    height: 300px;
}
.scatterview {
    display: inline-block;  
    width: 900px; 
}
.treeview{
    width: 100%;
    height: 600px;
}
.baselineview{
    width: 100%;
    height: 285px;
}
.temporalview {
    width: 100%;
    height: 500px
}

/* Subcomponents */
.streamview-legend {
    display: inline-block; 
    vertical-align: top; 
    width: 250px;
    height: 200px; 
    overflow-y: auto;
}
.streamview-legend-item {
    display: table;
    margin-bottom: 5px;
    cursor: pointer;
}
.streamview-legend-item-circle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 20px;
    height: 20px !important;
    display: inline-block;
    vertical-align: middle;
}
.streamview-legend-item-text {
    height: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
.streamview-bottom-legend {
    display: inline-block; 
    vertical-align: top; 
    width: 250px;
    height: 200px; 
    overflow-y: auto;
}
.streamview-bottom-legend-item {
    display: table;
    margin-bottom: 5px;
    cursor: pointer;
}
.streamview-bottom-legend-item-circle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 20px;
    height: 20px !important;
    display: inline-block;
    vertical-align: middle;
}
.streamview-bottom-legend-item-text {
    height: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
.deltaview-legend {
    display: inline-block; 
    vertical-align: top; 
    width: 200px;
    height: 500px; 
    overflow-y: auto;
}
.deltaview-legend-item {
    display: table;
    margin-bottom: 5px;
    cursor: pointer;
}
.deltaview-legend-item-circle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 20px;
    height: 20px !important;
    display: inline-block;
    vertical-align: middle;
}
.deltaview-legend-item-text {
    height: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
.deltaview-bottom-legend {
    display: inline-block; 
    vertical-align: top; 
    width: 200px;
    height: 500px; 
    overflow-y: auto;
}
.deltaview-bottom-legend-item {
    display: table;
    margin-bottom: 5px;
    cursor: pointer;
}
.deltaview-bottom-legend-item-circle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 20px;
    height: 20px !important;
    display: inline-block;
    vertical-align: middle;
}
.deltaview-bottom-legend-item-text {
    height: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
.srate_container {
    display: inline;
}
.sampling-rate-slider {
    width: 100px;
}
.baseline_cell {
    border: 1px solid black;
}